.vintage-button {
  -fx-background-color: #655b5b;
  /* Classic gray background */
  -fx-border-color: #FFFFFF #808080 #808080 #FFFFFF;
  /* 3D border effect */
  -fx-border-width: 2px;
  /* Border size */
  -fx-text-fill: black;
  /* Text color */

  -fx-font-family: "Bold", Courier New;
  /* Classic font */
  -fx-padding: 5 10 5 10;
  /* Padding for the button */
  -fx-background-insets: 0;
  -fx-effect: dropshadow(two-pass-box, rgba(0, 0, 0, 0.2), 1, 1.0, 0, 1);
  /* Simple shadow */
}